<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smarthome"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".personal_center.Activity_HistoricalData"
            android:exported="false" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.actions" -->
        <!-- android:resource="@xml/splash_screen" /> -->
        <activity
            android:name=".personal_center.Activity_help_privacy"
            android:exported="false" />
        <activity
            android:name=".personal_center.Activity_help_feedback"
            android:exported="false" />
        <activity
            android:name=".personal_center.Activity_help"
            android:exported="false" />
        <activity
            android:name=".personal_center.Activity_setup"
            android:exported="false" />
        <activity
            android:name=".personal_center.Activity_Smart_Guardian"
            android:exported="false" />
        <activity
            android:name=".personal_center.personal_Activity"
            android:exported="false" />
        <activity
            android:name=".Smart_Security.Smart_SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_data_processing"
            android:exported="false" />
        <activity
            android:name=".MainActivity_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>